asgiref==3.4.1
astroid==2.11.7
attrs==22.1.0
Automat==20.2.0
boto3==1.23.10
botocore==1.26.10
constantly==15.1.0
dill==0.3.4
Django==3.2.16
django-mathfilters==1.0.0
django-storages==1.12.3
djangorestframework==3.14.0
hyperlink==21.0.0
idna==3.4
incremental==21.3.0
isort==5.10.1
jmespath==0.10.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysqlclient==2.1.1
Pillow==8.4.0
platformdirs==2.4.0
pylint==2.13.9
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.4
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.3
tomli==1.2.3
Twisted==22.4.0
typed-ast==1.5.4
typing_extensions==4.1.1
urllib3==1.26.12
uWSGI==2.0.21
wrapt==1.14.1
zope.interface==5.5.0
