{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5" style="font-size: 20px; font-weight: bold;">
        <h1><b>게시글수정</b></h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3 mt-5">
                <label class="form-label">제품명</label>
                <input type="text" name="prod" value="{{ b.product }}" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">판매자</label>
                <input type="text" class="form-control" disabled value="{{ b.seller }}">
            </div>
            <div class="mb-3">
                <label class="form-label">짧은 소개</label>
                <textarea class="form-control" name="scon" style="height: 150px;">{{ b.content }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">CONTENT</label>
                <textarea class="form-control" name="con" style="height: 150px;">{{ b.content }}</textarea>
            </div>
            <div class="text-end mt-3">
                <button class="btn btn-dark">수정</button>
            </div> 
        </form>
    </div>
{% endblock %}